repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: snyk-security-sca-scan
        name: Snyk Security SCA Scan
        description: Multi-language dependency vulnerability scanning with Snyk
        entry: pre-commit-scripts/snyk-scan.bat # Relative path to the script
        language: script # Use 'script' language type

  - repo: local
    hooks:
      - id: gitleaks-secrets-scan
        name: GitLeaks Secrets Scanner
        description: Detect hardcoded secrets like passwords, api keys, and tokens in git repos
        entry: pre-commit-scripts/gitleaks-scan.bat # Relative path to the script
        language: script # Use 'script' language type
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: semgrep-sast-scan
        name: Semgrep Security SAST Scan
        description: Static analysis for security vulnerabilities with Semgrep
        entry: pre-commit-scripts/semgrep-scan.bat # Relative path to the script
        language: script # Use 'script' language type
        pass_filenames: false
        stages: [pre-commit]
