<header class="header" xmlns:th="http://thymeleaf.org" th:fragment="menu"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="header-container">
        <a href="../index.html" th:href="@{/}" class="logo">
            <img src="../../static/assets/logo.png" th:src="@{/assets/logo.png}" alt="Logo Voll">
        </a>

        <nav class="main-nav" sec:authorize="isAuthenticated()">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="../medico/listagem-medicos.html" th:href="@{/medicos}" class="nav-link">Médicos</a>
                </li>
                <li class="nav-item">
                    <a href="../consulta/listagem-consultas.html" th:href="@{/consultas}" class="nav-link">Consultas</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Pacientes</a>
                </li>
                <li class="nav-item">
                    <a href="../relatorio/listagem-relatorios.html" th:href="@{/relatorios}"
                        class="nav-link">Relatórios</a>
                </li>
            </ul>
        </nav>

        <div class="nav-user">
            <div sec:authorize="isAuthenticated()">
                <span class="user-info">Olá, <span sec:authentication="principal.nome"></span></span>
                <a th:href="@{/logout}" class="btn-logout">Sair</a>
            </div>

            <div sec:authorize="!isAuthenticated()">
                <a class="btn-login" href="#" th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</header>
